@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling for full-screen app */
}
